# Backend API Base URL (Render deployment URL)
#VITE_API_BASE_URL=https://imagingpedia-testing.onrender.com

# Local development
# VITE_API_BASE_URL=http://localhost:3000


# Backend API URL
# For local development, use localhost
#VITE_API_BASE_URL=http://localhost:3000

# For production deployment, use:
#VITE_API_BASE_URL=https://imagingpedia-testing.onrender.com
VITE_API_BASE_URL=https://imagingpedia-testing-production.up.railway.app/


DATABASE_URL=postgresql://postgres:FZqzfQZIWaPkysSzQnoLPFglveIRikWr@maglev.proxy.rlwy.net:30856/railway



Username=imagingpedia_user
Password=qN2MiQUqOHZDOnSWWvZm6A8m0VxsRW7P