#OPENROUTER_API_KEY=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

#DATABASE_URL=postgresql://postgres:FZqzfQZIWaPkysSzQnoLPFglveIRikWr@maglev.proxy.rlwy.net:30856/railway

#PORT=3000


OPENROUTER_API_KEY=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

#DATABASE_URL=postgresql://postgres:FZqzfQZIWaPkysSzQnoLPFglveIRikWr@maglev.proxy.rlwy.net:30856/railway
DATABASE_URL=postgresql://postgres:AdKVNtXQtnQwdEhdlwHsIAFXSXhTRcnp@maglev.proxy.rlwy.net:16941/railway
PORT=3000

JWT_SECRET=8IuNRKrmKBmPWjpDOPK5TjMOLWyqNRdc37Gdbyj9Eu2xL6Skx8MyiP3z/rELCI+me3ssDb84evpOsEMvuP/6Dw==
